// 全体//////////////////////////////////////////////
* {
  box-sizing: border-box;
}

.wrapper {

}

// Side///////////////////////////////////////////////

// .Side{
//   width: 350px;
//   background-color: cadetblue;
//   height: 100vh; 
// }

// .Side-header{
//   height: 200px;
//   background-color: chartreuse;
// }

// .Side-foodsearch{
//   height: 200px;
//   background-color: darkmagenta;
// }

// .Side-foodindex{
//   height: calc(100% - 400px);
//   background-color: white;
// }
// Main//////////////////////////////////////////////////

.Main{
  width:100vw;
  background-color: burlywood;
  height: 100vh;
}

.Main-header{
  height: 100px;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  &__title{
    font-size: 50px;
    font-style: oblique;
  }
  &__menu{
    
  }


}

.Main-index{
  height: calc(100% - 100px);
  background-color: silver;  
}

.Main-index-post{
  height: 300px;
  width: 95%;
  background-color: skyblue;
  margin: 20px;
  padding: 10px;

  
  &__daytime{

  }
  &__foodcarb{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height:60%;

  }
  &__food{

  }
  &__carb{

  }
  &__totalcarb{
    font-size: 30px;
  }
  &__name{
    font-size: 50px;

  }
}